:root {
     --blue1: #025578;
     --blue2: #00789B;
     --orange: #E89104;
     --grey: #E5E7EB;
}

@font-face {
     font-family: 'Flama';
     src: url(../fonts/Flama-Basic.otf);
}
@font-face {
     font-family: Flama Bold;
     src: url(../fonts/Flama-Bold.otf);
}
@font-face {
     font-family: Flama Extrabold;
     src: url(../fonts/Flama-Extrabold.otf);
}

*{
     margin: 0;
     padding: 0;
     /* border: 1px solid red; */
}

body{
     background-color: var(--blue1);
}

.app{
     font-family: 'Flama';
     display: grid;
     grid-template-rows: 1fr 7fr 1fr;
     height: 100vh;
     overflow: hidden;
}
/* Header styling ------------------------------- */

.header{
     font-size: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
}

/* Floors styling ------------------------------- */

.floors{
     background-color: white;
     display: flex;
     flex-direction: column;
}

.floors__item{
     flex: 1 1;
     background-color: white;
     display: grid;
     grid-template-columns: 1.2fr 3fr 3fr;
     border-top: #025578 5px solid;
}

.floors > :nth-child(1) {
     font-family: Flama Bold;
}

.floors__number{
     font-size: 7rem;
     color: var(--blue1);
     margin: auto;
     font-family: Flama Bold;
}

.floors__titel{
     font-size: 3rem;
     margin-right: auto;
     margin-top: auto;
     margin-bottom: auto;
}

.floors__parking-spots{
     display: flex;
     justify-content: space-around;
     max-height: 100%;
}

.parking-spots__available-parking{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
}

.parking-spots__icon{
     width: 5rem;
     height: 4rem;
}

.parking-spots__number{
     color: var(--orange);
     font-size: 5rem;
     font-family: Flama Bold;
}

/* If no parking, disabled, or charging available */
.hide{
     visibility: hidden;
}


/* Footer styling ------------------------------- */

.footer{
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
}

.footer__text{
     font-size: 2rem;
     padding: 0 2rem;
     text-align: center;
     text-decoration: underline;
}
.footer__image{
     width: 90%;
     padding-bottom:0.5rem;
}